src/main/mule/world-time-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="28ca2548-ec78-4612-a23d-43ce7360e6ee" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9b0274bc-0468-44d9-8759-bb60d9e270f4" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-time-appFlow" doc:id="357c9105-0da7-47cb-a805-0f472bb0aa7e" >
		<http:listener doc:name="Listener" doc:id="8775c6f6-50d7-4628-a5a3-3f9da4989317" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="cd2d9891-0905-49ec-a1d7-7c9b1cdafd2d" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
